<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button @click="openForm">Open Form</button>
        <h1>Nilai a : {{ a }}</h1>
        <h1>Rata rata : {{ rataRata }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                rataRata: 0,
                hasil: 0,
            },
            methods: {
                openForm: function () {
                    const arr = [];

                const handleInput = () => {
                    this.a = parseInt(prompt("Input Nilainya"));
                    arr.push(this.a);
                };

                const handlerataRata = () => {
                    this.rataRata = this.hasil / arr.length;
                };

                const handlehasil = () => {
                    this.hasil = arr.reduce((hasil, num) => {
                        return hasil + num;
                });
                if (this.hasil <= 10) {
                    handleInput();
                    handlehasil();
                } else {
                    handlerataRata();
                  }
                };
        handleInput();
        handlehasil();
        },
      },
    });
    </script>
</body>
</html> 